.inner-container {
    gap: 1.5rem;
    background: #c5dddf;;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid orange;
    text-align: center;
    justify-content: center;
}

.inner-container .primaryText {
    font-weight: 600;
}

.inner-container .button {
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}